/* <system section="theme" selected="6653586347149180725"> */
/*@import url("http://hatenablog.com/theme/6653586347149180725.css");*/
/* </system> */

/* カテゴリーの枠線 */
div.hatena-module-category div.hatena-module-body ul li a {
    border: none;
}
.hatena-module-category .hatena-urllist li{
    margin: 0 0 0 0;
}
/* 引用内の出展は右寄せにする */
.entry-content blockquote cite { 
    display: block; 
    text-align: right; 
}

/* 強調文字の前後にスペースを入れる */
strong:before, em:before, b:before { content:" "; }
strong:after, em:after, b:after { content:" "; }

/* Feeldyボタンの上下余白をつめる */
.feedly-button {
    margin-top: -40px;
    margin-bottom: -30px;
}

/* 全般 */
body {
    font-family: "Open Sans","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}
/* 見出し */
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans","Hiragino kaku Gothic ProN",Meiryo,sans-serif;
}
/* ブログタイトル */
#title {
    font-size:2.5rem;
    font-family: "Open Sans","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}
#title a:hover{
    color: #ccc;
}
#title a{
    color:#eee;
}
#blog-title{
    background-color: #282B2E;
}

/* コード */
pre.code {
    font-size: 0.85em;
    line-height: 1.3;
}

/* 昔はh2,h3を使ってたので、h2,h3のデザインは若干変る*/
.entry-content h2 {
    padding: 0.4em 1em;
    border-left: 6px solid #CC7832;
    border-bottom: 1px solid #CC7832;
    background: #f3f3f3;
}

.entry-content h3 {
    padding: 0.4em 1em;
    border-left: 6px solid #CC7832;
    border-bottom: 1px solid #CC7832;
}

.entry-content h4 {
    padding-left: 0.5em;
    border-left: 2px solid #CC7832;
}

/* プロフィールの購読者アイコンがずれるので */
.subscriber .profile-icon {
    float: none;
    margin: 0
}

/* GoogleAdSenseの関連する記事タイトル */
.ads-title {
	padding: .5em .75em;
	background: -webkit-linear-gradient(top, #69b4e6 0%, #3498db 100%);
	background: linear-gradient(to bottom, #69b4e6 0%, #3498db 100%);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

/*--------------------------------------
  ヨメレバ・カエレバ（PC）
--------------------------------------*/
.booklink-box, .kaerebalink-box{
    width:90%;
    margin:20px auto;
    padding:20px;
    border:double #CCC;
    overflow: hidden;
    font-size:small;
}

.booklink-image, .kaerebalink-image{
    margin:0 15px 0 0;
    float:left;
}

.booklink-image img, .kaerebalink-image img{
    margin:0 auto;
    text-align:center;
}
 
.booklink-info, .kaerebalink-info{
    margin:0;
        text-align:left;
    line-height:120%;
    overflow: hidden;
}
 
.booklink-name, .kaerebalink-name{
    font-size:16px;
    margin-bottom:24px;
    line-height:1.5em;
}
 
.booklink-powered-date, .kaerebalink-powered-date{
     font-size:8pt;
     margin-top:10px;
     font-family:verdana;
     line-height:120%;
}
.booklink-powered-date, .kaerebalink-detail{
    margin-bottom:15px;
}
 
.booklink-link2, .kaerebalink-link1{
    margin-top:10px;
}
 
.shoplinkamazon, .shoplinkrakuten, .shoplinkkindle, .shoplinkyahoo, .shoplinkkakakucom, .shoplinkbk1, .shoplinkkino {
        width:30%;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    margin:15px 2px 0 auto;
    padding:8px 1px;
    text-align:center;
        float:left;
    }
    
.shoplinkamazon:hover, .shoplinkrakuten:hover, .shoplinkkindle:hover, .shoplinkyahoo:hover, .shoplinkkakakucom:hover, .shoplinkbk1:hover, .shoplinkkino:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
 
.shoplinkamazon:active, .shoplinkrakuten:active, .shoplinkkindle:active, .shoplinkyahoo:active, .shoplinkkakakucom:active, .shoplinkbk1:active, .shoplinkkino:active {
    position:relative;
    top:1px;
}
 
.shoplinkamazon a, .shoplinkrakuten a, .shoplinkyahoo a, .shoplinkkindle a, .shoplinkkakakucom a, .shoplinkbk1 a, .shoplinkkino a {
    text-decoration:none;
    font-weight:800;
    text-shadow:1px 1px 1px #dcdcdc;
    font-size:12px;
}
    
.shoplinkamazon a{
    color:#FF9901;
}
 
.shoplinkrakuten a{
    color:#c20004;
}
 
.shoplinkkindle a{
    color:#007dcd;    
}
 
.shoplinkbk1 a{
    color:#314995;    
}

.shoplinkkakakucom a{
    color:#314995;    
}

.shoplinkkino a{
    color:#7b0099; 
}
 
.shoplinkyahoo a{
    color:#7b0099; 
}

.shoplinkyahoo img{
    display:none;
}
 
.booklink-footer{
    clear:left;
}

.shoplinkyahoo a{
     font-size:10px;
 }
 
 